* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    border: 2px solid black;
}

.container .left {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .left img {
    width: 300px;
}

.container .right {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container .right .content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: rgb(26, 26, 26);
    padding: 10px;
}

.heading {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 33px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    background: rgb(26, 26, 26);
}

.tag {
    color: rgb(221, 221, 221);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
    background: rgb(26, 26, 26);
}

form {
    width: 100%;
    /* margin-top: 40px; */
    background: rgb(26, 26, 26);
}

form .details {
    display: flex;
    background: rgb(26, 26, 26);
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
    background: rgb(26, 26, 26);
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

label {
    color: rgb(221, 221, 221);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0%;
    text-align: left;
    background: rgb(26, 26, 26);
}

input[type="text"] {
    box-sizing: border-box;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.08);
    color: white;
    padding: 5px 10px;
    border: none;
}

input[type="password"] {
    box-sizing: border-box;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.08);
    color: white;
    padding: 5px 10px;
    border: none;
}

.options {
    display: flex;
    justify-content: center;
    background: rgb(26, 26, 26);
}

.options .opt-check {
    background: rgb(26, 26, 26);
}

.agree {
    color: rgb(221, 221, 221);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 175%; */
    letter-spacing: 0%;
    text-align: left;
    margin-left: 10px;
    text-align: start;
    background: rgb(26, 26, 26);
}

form .btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background: rgb(26, 26, 26);
}

form .btn div {
    border-radius: 4px;
    background: rgb(219, 12, 38);
    width: fit-content;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* gap: 20px; */
    align-items: center;
    background: rgb(26, 26, 26);
}

.footer .account-options {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
    background: rgb(26, 26, 26);
}

.footer .icons {
    background: rgb(26, 26, 26);
}

.footer .icons ul {
    display: flex;
    background: rgb(26, 26, 26);
}

.footer .icons ul li {
    list-style: none;
    cursor: pointer;
    background: rgb(26, 26, 26);
}

.footer .icons ul li img {
    background: rgb(26, 26, 26);
}

.footer .signup-option {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
    background: rgb(26, 26, 26);
}

@media only screen and (max-width: 1300px){
    .container .left {
        padding: 0px 15px;
    }

    .container .left img {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .container .left {
        width: 70%;
    }
        

    .container .right {
        width: 100%;
    }

    form .details {
        flex-direction: column;
    }

    .formGroup {
        width: 100%;
    }

    .footer .signup-option {
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    .container .right .content {
        width: 100%;
    }
    .footer {
        gap: 10px;
        margin-top: 10px;
    }
}